#allToursTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  justify-content: center;
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  padding: 3rem;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  line-height: 1.6;
  font-weight: 300;
  color: #000000;
  min-height: 100vh;
  padding: 0;
  background-color: #FEB941;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerComponent {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
  justify-content: center; 
  align-items: center;
  background-color: #6DC5D1;

  padding: 0;
  margin: 0;
  width: 100%; 
}

.headerTitle {
  color: #DD761C;  
}
.headerLink {
  color: #000000;
}
.headerSeachTour {
  margin: 100px;
}

#tourList {
  text-align: center;
}

.tourContainer {
  flex-wrap: wrap;
  gap: 20px;
  height: 1000p;
  display: grid;
  grid-template-columns: auto auto auto;
  
}

.tourInfo {
  text-align: center;
  max-width: calc(120% - 20px); 
  padding: 10px;
  border: 1px solid #000000;
  margin-bottom: 20px;
  justify-content: center;
  background-color: #FDE49E;
}

.tourImagesDetail {
  width: 400; 
  height: 350px;
  object-fit: cover;
  padding: 10px;
}

#destinationList {
  text-align: center;
}

.destinationContainer {
  flex-wrap: wrap;
  gap: 20px;
  height: 1000p;
  display: grid;
  grid-template-columns: auto auto auto;
}

.destinationInfo {
  text-align: center;
  max-width: calc(120% - 20px); 
  padding: 10px;
  border: 1px solid #000000;
  margin-bottom: 20px;
  justify-content: center;
  background-color: #FDE49E;
}

.destinationImagesDetail {
  width: 400px; 
  height: 350px;
  object-fit: cover;
  padding: 10px;
}        

.tourImage {
  width: 350px; 
  height: 300px;
  object-fit: cover;
  padding: 10px;
} 

.destinationImage {
  width: 350px; 
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

.searchHeader {
  height: 30px;
  margin: 10px;
}

.headerSearchDestination {
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.headerSearchTour {
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.searchHeader {
  margin-left: 0;
}

.destiantionDetailContainer {
  text-align: center;
  max-width: calc(120% - 20px); 
  padding: 10px;
  border: 1px solid #000000;
  margin-bottom: 20px;
  justify-content: center;
  background-color: #FDE49E;
}

.destinationNameDetail {
  background-color: #6DC5D1;
}

.tourDetailContainer {
  text-align: center;
  max-width: calc(120% - 20px); 
  padding: 10px;
  border: 1px solid #000000;
  margin-bottom: 20px;
  justify-content: center;
  background-color: #FDE49E;
}

.tourNameDetail {
  background-color: #6DC5D1;
}

.headerError {
  text-align: center;
  background-color: #6DC5D1;
}
.logoHeader {
  width: 100px;
  height: 100px;
}
